@import url("/assets/css/reset.css");

.main-container{
    margin: 0;
    padding: 0;
    max-width: 80%;
    margin: 0 auto;
}


 /* seção 1*/
.main-container .section-1 img{
    max-width: 100%;
    height: auto;
}

.main-container .section-1 h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
    color:  #212529;
    padding: 40px 5px 20px 5px;
}

.main-container .section-1 p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-align: center;
    color:  #212529;
    padding: 2px;
}  /* seção 1*/



/* seção 2*/
.main-container .section-2{
    display: flex;
    flex-direction: column;
}
.main-container .section-2 img{
    max-width: 80%;
    height: auto;
    padding: 35px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    display: flex;
}

.main-container .section-3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container .section-3__texto{
    background-color: #f5f5f5;
    text-align: center;
}

.main-container .section-3__texto h2{
    font-size: 2.3em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 45px; /* teste*/
}

.main-container .section-3__texto p{
    font-size: 1.2em;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.main-container .section-3 img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.main-container .section-4 h2{
    font-size: 1.8em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 45px; /* teste*/
}

.main-container .section-4__texto{
    font-size: 1.2em;
    line-height: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
}

.main-container .section-4 .smart-5{
    width: 100%;
    margin-top: 95px;
}
.main-container .section-4 img{
    max-width: 100%;
    height: auto;
}


/* Tablet  */
@media screen and (max-width: 1024px) {
    .main-container{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
  }

/* mobile*/

@media screen and (max-width: 414px) {
    .main-container{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
  }

@media screen and (max-width: 375px) {
    .main-container{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
  }
  






